<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-brand ">
        <img src="/assets/images/logo-white.png" alt="EverWash" class="footer-logo pt-20" width="180" height="40">
        <p class="footer-description">
          The complete car wash membership growth platform with the tools and people to help you succeed.
        </p>
        <div class="footer-social">
          <a href="https://www.facebook.com/everwashforbusiness" class="social-link" target="_blank">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://www.youtube.com/channel/UCv3ZMElXRnResR_Dv9dd1GA" class="social-link" target="_blank">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="https://www.instagram.com/everwash4biz/" class="social-link" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.linkedin.com/company/everwash/" class="social-link" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>

      <div class="footer-menu">
        <div class="row">
              <!-- Solutions Column -->
              <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
                <h4 class="footer-title">Solutions</h4>
                <ul class="footer-links">
                  <li><a href="/the-everwash-difference/">For Car Wash Operators</a></li>
                  <li><a href="/fleet-membership/">For Fleets</a></li>
                  <li><a href="https://sub.everwashpartners.com/partners" target="_blank">For Distributors</a></li>
                  <li><a href="https://sub.everwashpartners.com/partners" target="_blank">For Associations</a></li>
                </ul>
              </div>

              <!-- Resources Column -->
              <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
                <h4 class="footer-title">Resources</h4>
                <ul class="footer-links">
                  <li><a href="https://sub.everwashpartners.com/blog" target="_blank">Blog</a></li>
                  <li><a href="/case-study/">Case Studies</a></li>
                  <li><a href="https://sub.everwashpartners.com/revenue-calculator" target="_blank">Revenue Calculator</a></li>
                  <li><a href="https://sub.everwashpartners.com/wash-owners/wash-owners-support" target="_blank">Support Center</a></li>
                </ul>
              </div>

              <!-- Company Column -->
              <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
                <h4 class="footer-title">Company</h4>
                <ul class="footer-links">
                  <li><a href="https://sub.everwashpartners.com/about">About Us</a></li>
                  <li><a href="https://sub.everwashpartners.com/careers/" target="_blank">Careers</a></li>
                  <li><a href="/contact/" target="_blank">Contact</a></li>
                  <li><a href="https://sub.everwashpartners.com/newsroom/" target="_blank">Press</a></li>
                </ul>
              </div>
            </div>
      </div>

      <div class="footer-bottom">
        <span>© 2026 EverWash, Inc. All rights reserved.</span>
        <a href="https://sub.everwashpartners.com/privacy-policy" target="_blank">Privacy Policy</a>
        <a href="https://sub.everwashpartners.com/terms-and-conditions" target="_blank">Terms of Service</a>
      </div>
      
    </div>
  </div>
</footer>
